{% extends 'blog/base.html' %}

{% block content %}
    <h1>Lista de Cursos</h1>
    <a href="{% url 'crear_curso' %}">Crear nuevo curso</a>
    <ul>
        {% for curso in cursos %}
            <li>
                {{ curso.nombre }} - 
                <a href="{% url 'editar_curso' curso.id %}">Editar</a> | 
                <a href="{% url 'eliminar_curso' curso.id %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay cursos registrados.</li>
        {% endfor %}
    </ul>
{% endblock %}
